# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment variables
.env
.env.local
.env.*.local

*.code-workspace
uploads/images/3a564eb8-c5c5-4eb2-9b6a-a2e3ac658fab.jpg
uploads/images/6m7vxdwG1tr1.jpg
uploads/images/861ed57a-ee40-42ac-91fd-3e45ea6fc5e8.jpg
uploads/images/1272ae14-bf86-4d97-85ee-a355d2016bf1.jpg
uploads/images/50512f22-f512-46c8-b83f-747e269e6faa.jpeg
uploads/images/SmpDXFgwKez0.jpg
uploads/images/VKt9ADP4ebH6.jpg
